* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  font-family: inherit;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  max-width: 100%;
}
/* ————————————————————————————以下是头部———————————————————————————— */
body {
  border: 1px solid red;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#01a1ff, #1388cd);
  height: 40px;
}
.header > .header1 {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 1000px;
  background-image: linear-gradient(#01a1ff, #1388cd);
}
.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 600px;
  margin-left: 60px;
}
.logo > img {
  height: 35px;
  vertical-align: middle;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  justify-content: flex-end;
}
.text > li {
  font-size: 12px;
  padding: 3px;
}
.search {
  margin-left: 230px;
}
.search > .searchImg {
  margin-left: -25px;
  scale: 80%;
}
.img {
  margin-left: 30px;
}
.img > li {
  padding: 15px;
}
/* ————————————————————————————以下是内容———————————————————————————— */
.content {
  border: 1px solid red;
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.content > main {
  margin-top: 20px;
}
.content > main > image {
  border: 1px solid green;
  background: #666;
  height: 400px;
}
/* ————————————————————————————以下是内容2———————————————————————————— */
.content2 {
  border: 1px solid red;
  width: 1000px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
/* ————————————————————————————分割线———————————————————————————— */

.category {
  border: 1px solid red;
  display: flex;
  align-items: center;
  height: 50px;
  width: 1000px;
}
.category > .left {
  border: 1px solid green;
  display: flex;
  align-items: center;
  height: 50px;
  width: 1600px;
  background-color: #fff;
}
.category > .middle {
  width: 20px;
}
.category > .right {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  height: 50px;
  width: 500px;
  background-color: #fff;
}
.left > div {
  margin-left: 20px;
  color: #006093;
  font-weight: bold;
}
.left > .category1 {
  border-top: 3px solid #01a6ff;
}
/* ————————————————————————————分割线———————————————————————————— */

.images {
  border: 1px solid green;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  width: 800px;
}

.images > .x {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
}
.image {
  border: 1px solid gray;
  background: #fff;
  font-size: 10px;
}
.image > img {
  width: 230px;
  height: 173px;
  border: 1px solid red;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* ————————————————————————————分割线———————————————————————————— */
.aside {
  background: #666;
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 198px;
  align-items: center;
  /* flex-wrap: wrap; */
}
.aside > .asideImg {
  border: 1px solid red;
  /* width: 198px; */
  width: 90%;
  /* height: 51px; */
  margin: 1vh 0;
}
.aside2 {
  border: 1px solid green;
  /* width: 198px; */
  /* height: 50px; */
  flex: 0.2;
  width: 90%;
}
.aside2div {
  border: 1px solid blue;
  display: flex;
}

.aside2div > span {
  border: 1px solid red;
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside2div .aside2span {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.aside2div .aside2span .span1 {
  color: red;
  font-size: 14px;
  font-weight: 700;
}

.aside2div .aside2span .span2 {
  font-size: 3px;
  padding-left: 2em;
}

.asidetext {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  width: 90%;
}
.asidetext > * {
  /* border: 1px solid red; */
}
.asidetext .asidetext1 {
}
.asidetext .asidetext1 .asideText1Span {
  color: red;
  font-weight: 800;
}
.asidetext .asidetext1 .asideText1Span2 {
  font-size: 12px;
}

/* ————————————————————————————分割线———————————————————————————— */
.footer {
  border: 1px solid green;
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  height: 280px;
  flex-wrap: wrap;
}
.footer > .footer1 {
  background-color: #00a2ff;
  width: 1000px;
  height: 40px;
}
.footer > .footer2 {
  background-color: #23272a;
  width: 1000px;
  height: 200px;
}
.footer > .footer3 {
  background-color: #202125;
  width: 1000px;
  height: 40px;
}
